body{
        font-size: larger;
    font-family: Verdana;
    background-color:cadetblue;
    font-weight: bold;
}

h1{
    color: cyan;
    -webkit-text-stroke: 1px black;
    margin-bottom: 10px;

}


#container {
    background-color: lightblue;
    border-radius: 10px;
    padding: 20px;
    border: 5px lightcyan solid;
    height: 450px;
    width: 600px;
    font-size: 20px;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#content {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 200px;
}



.result {
    display: flex;
    justify-content: center;
}